@model Sklep_MJ.ViewModels.CartViewModel
@using Sklep_MJ.Infrastructure

@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    @Html.Action("CategoriesMenu", "Courses")
    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>

        <section class="SekcjaKoszyk">
            <div class="SekcjaHeader" style="margin-bottom: 0px;">
                <h1>Twój koszyk</h1>
            </div>

            <table id="koszykTabela">
                @foreach (var position in Model.CartPositions)
                {
                    <tr id="koszyk-wiersz-@position.Course.CourseId">
                        <td>
                            <a href="@Url.Action("Details","Courses", new { id = position.Course.CourseId },null)">
                                <img src="@Url.Content("~/Content/Courses/"+position.Course.FileIcon)" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Courses", new { id = position.Course.CourseId },null)">
                                @position.Course.Title
                            </a>
                        </td>
                        <td>Ilość: <span id="koszyk-ilosc-@position.Course.CourseId">@position.Count</span></td>
                        <td>@string.Format("{0:0.##}", position.Price) zł</td>
                        <td><a class="usunKurs" data-id="@position.Course.CourseId" href="#">Usuń</a></td>
                    </tr>
                }

                <tr id="koszyk-empty-message" @if (Model.CartPositions != null && Model.CartPositions.Count > 0) { <text> class="hidden" </text> }>
                    <td>Twój koszyk jest pusty</td>
                </tr>

            </table>

            <div id="CenaCalkowita" style="">
                Razem: <span id="calkowita-cena">@string.Format("{0:0.##}", Model.TotalPrice)</span> zł
            </div>

            <div class="SekcjaPrzyciski">
                <a class="PrzyciskLink" href="link">Kontynuuj zakupy</a>
                @if (Model.TotalPrice > 0)
                {
                    <a class="PrzyciskLink" id="koszyk-button-zaplac" href="@Url.Action("Pay")">Zapłać</a>
                }
            </div>
        </section>
    </div>
</div>

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(function () {
            $(".usunKurs").click(function () {
                var recordToRemove = $(this).attr("data-id");

                if (recordToRemove != '') {
                    $.post("/Cart/RemoveFromCart", { "id": recordToRemove }, function (response) {
                        if (response.RemovedCount == 0) {
                            $('#koszyk-wiersz-' + response.RemovedId).fadeOut('slow', function () {
                                if (response.CartItemsCount == 0) {
                                    $("#koszyk-empty-message").removeClass("hidden");
                                }
                            });
                        }
                        else {
                            $('#koszyk-ilosc-' + response.RemovedId).text(response.RemovedCount);
                        }
                        if (response.CartCount == 0) {
                            $('#koszyk-button-zaplac').addClass('hidden');
                            $('#CenaCalkowita').addClass('invisible');
                        }
                        $('#calkowita-cena').text(response.CartFullPrice);
                        $('#koszyk-naglowek-ilosc-elementow').text(response.CartItemsCount);
                    });
                    return false;
                }
            });
        });

    </script>

}

