@model Sklep_MJ.Models.Course
@using Sklep_MJ.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="ListaKategoriZawartosc">
    @Html.Action("CategoriesMenu")

    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>

        <section id="SekcjaKurs">
            <div id="KursLewa">
                <img src="@Url.CoursesIconsPath(Model.FileIcon)" />
            </div>
            <div id="KursPrawa">
                <div id="KursNazwa">
                    <h1>
                        @Model.Title
                    </h1>
                    <h2>
                        @Model.Author
                    </h2>
                </div>
                <div id="KursCena">
                    <div>
                        @string.Format("{0:0.##}", Model.Price)<span>PLN</span>
                    </div>
                    <a href="@Url.Action("AddToCart","Cart",new { id = Model.CourseId },null)"></a>
                </div>
                <div id="KursOpis">
                    @Model.Description
                </div>
                <div id="KursInfo">
                    @Model.ShortDescription
                </div>

            </div>
        </section>
    </div>
</div>