<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("GetCartItemsCount", "Cart")</span>)
                <span></span>
            </a>
            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li>@Html.ActionLink("O nas", "StaticPages", "Home", new { name = "AboutUs" }, null)</li>
                <li>@Html.ActionLink("Społeczność", "StaticPages", "Home", new { name = "Community" }, null)</li>
                <li>@Html.ActionLink("Opinie", "StaticPages", "Home", new { name = "Rewiews" }, null)</li>
                <li>@Html.ActionLink("Pomoc", "StaticPages", "Home", new { name = "Help" }, null)</li>
                <li>@Html.ActionLink("Regulamin", "StaticPages", "Home", new { name = "Regulations" }, null)</li>
                <li>@Html.ActionLink("Kontakt", "StaticPages", "Home", new { name = "Contact" }, null)</li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2016 P. Kursy
        </div>
    </footer>

    @RenderSection("Scripts",required:false)
</body>
</html>
