<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Tile</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow:hidden; margin-bottom:30px;">
            <a class="manageLink" href="@Url.Action("Index","Home")">
                Start
            </a>
            <a class="manageLink" href="@Url.Action("Index","Manage")">
                Twoje konto
            </a>
            <a class="manageLink" href="@Url.Action("OrderList","Manage")">
                Lista zamówień
            </a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a class="manageLink" href="@Url.Action("AddCourse","Manage")">
                    Dodaj kurs
                </a>
                <a class="manageLink" href="@Url.Content("~/elmah")">
                    Logi
                </a>
                <a class="manageLink" href="@Url.Content("~/hangfire")">
                    Jobs
                </a>
            }
            <a class="manageLink" href="@Url.Action("Index","Cart")">
                KOSZYK (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("GetCartItemsCount", "Cart")</span>)
                <span id="cart-header-logo"></span>
            </a>
            @Html.Partial("_LoginPartial")
        </div>
        <div id="Breadcrumb">
            <img src="@Url.Content("~/Content/Images/dommaly.png")" />
            @Html.MvcSiteMap().SiteMapPath()
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li>@Html.ActionLink("O nas", "StaticPages", "Home", new { name = "AboutUs" }, null)</li>
                <li>@Html.ActionLink("Społeczność", "StaticPages", "Home", new { name = "Community" }, null)</li>
                <li>@Html.ActionLink("Opinie", "StaticPages", "Home", new { name = "Rewiews" }, null)</li>
                <li>@Html.ActionLink("Pomoc", "StaticPages", "Home", new { name = "Help" }, null)</li>
                <li>@Html.ActionLink("Regulamin", "StaticPages", "Home", new { name = "Regulations" }, null)</li>
                <li>@Html.ActionLink("Kontakt", "StaticPages", "Home", new { name = "Contact" }, null)</li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2016 P. Kursy
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
